
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Roboto:wght@300;400&display=swap');
:root{
    --sub-color: #eaa023;
    --text-color: #FFFFFF;
}
 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    color: #0c0c0c;
    width: 100%;
    font-family:sans-serif;
  }
/* SLIDE */
video {
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  .container_slide {
    position: relative;
  }
  .container_slide .btn {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 20px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.container_slide .btn:hover {
    background-color: black;
}
/* PICTURE-TEXT-LEFT */
.Home_Pic_Text_LEFT{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: AudiTypeWide,sans-serif; */
}
.Title{
    line-height: 2;
    width:100%;
}
.Title img {
    min-width: 100%;
    /* padding-left: 137px; */
}
.Img{
    width:100%;
}
.Pictures_Left img {
    width: 100%;

}
.Pictures_Left{
    padding-top: 50px;
    padding-left: 50px;
}
.text_Left{
    padding-top: 130px;
    padding-bottom: 30px;
    padding-right: 50px;
    align-self: flex-start;
    padding-left: 50px;
    text-align: center;
    /* font-family: 'Roboto';   */

}
.bttn {
    line-height: 6;
}
.btn {
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 20px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover {
    background-color: black;
}
/* PICTURE-TEXT-RIGHT */

.Home_Pic_Text_RIGHT{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family:sans-serif; */
   
}
.Pictures_Right{
    padding-top: 50px;
    padding-right: 50px;
    /* display: grid;
    grid-template-columns: 50% 50%; */
}
.Pictures_Right img {
    display: block;
    width: 100%;

}
.text_right{
    padding-top: 130px;
    padding-bottom: 30px;
    align-self: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    /* font-family: AudiTypeExtended,sans-serif; */
}
/* INTRODUCR CARS */
.history_ShopImageBox {
    background-color: var(--tds-color--grey70);
    display: flex;
    justify-content: center;
  }.history_ShopTextWithButton {
    padding: 20px;
  }
  .history_TextWithButton {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .history_ShopImage {
    display: block;
    width: 100%;
  }
  .history {  
    display: inline-block;
    height: auto;
    padding: 0;
  }
.styles-module_PageWrapper__wkRd7 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1680px;
    overflow: hidden;
    padding: 0 24px;
}
.right {
    border: solid gray;
    justify-content: flex-end;
    margin: 20px 20px 0px;
    vertical-align: top;
    width: 318px;
    align-items: flex-start;
  
}
.introduce_cars {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
/* CONTAINER_FOOTER */

.container_footer {
    padding-top: 100px;
    position: relative;
    font-family: monospace;
}
.container_footer  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text-block {
    position: absolute;
    top: 80%;
    color: white;
    font-size: 16px;
    padding: 0px 218px;
    cursor: pointer;
    text-decoration: none;
}
@media only screen and (min-width: 361px) and (max-width:1024px){
    .Home_Pic_Text_RIGHT{
        flex-direction: column;
    }
    .Home_Pic_Text_LEFT{
        flex-direction: column-reverse;
    }
    .Pictures_Right img {
         margin-left: 27px;
    }
    .Pictures_Left img {
        margin-left: -29px;
    }
    .Img {
        width: 100%;
        display: block;
    }
    .Pictures_Right{
        margin: 34px;
    }
    .Pictures_Left{
        margin: 34px;
    }
    .text_right{
        padding-top: 30px;
    }
    .text_Left{
        padding-top: 30px;
    }
    .text-block {
     display:none;
    }
 }
 
 